<section>
  <p>The Digital and Online Channels team in External Relations can help with a range of web and web technology issues. And if we can't help, we'll try to get you in touch with the right people. Select a category from the options below to ask us for help.</p>

  <p>Or visit <a href="http://web.unimelb.edu.au">web.unimelb</a> or the <a href="https://webhelp.staff.unimelb.edu.au/hc/en-gb">Web Forum and Knowledge Base</a> to try to find the answer yourself.</p>
</section>

<div class="filtered-listing-section" ng-repeat="stream in serviceList" data-category="web_requests">
	<aside>
		<h2>{{stream.name}}</h2>
		<p>{{stream.description}}</p>
	</aside>
	<div class="bside">
    	<ul class="filtered-listing-grid">
	    	<li class="item " ng-repeat="itsService in stream.content">
	    		<a href="#/request/{{stream.name | urlStrip}}/{{itsService.name | urlStrip}}">{{itsService.name}}</a>
	    	</li>
    	</ul>
	</div>
	{{check_empty()}}
	<hr class="spacer">
</div>
    	
<footer></footer>