<section>
	<p><a class="button-hero-reverse" href="#/">Back to service list</a></p>

	<h2 class="success">Your request has been submitted!</h2>

	<div class="lead left">
		<p>Thanks for submitting your request. You'll get an email from us shortly confirming that we've received it.</p>
		<p>For your reference, the ticket number for this request is <strong>{{ticketId}}</strong>.</p>
	</div>

	<p>If you have any questions, please contact <a href="mailto:digital-team@unimelb.edu.au">digital-team@unimelb.edu.au</a>.</p>
</section>