.wrapper {
    margin: 0 auto;
    max-width: 1226px;
    width: 100%;
}
.outer {
    background-color: #fff;
}
p.lead { 
	font-size: 18px; 
}
.outer, 
.list-searchbox, 
.page-content {
    overflow-x: hidden;
}
.outer, 
.list-searchbox, 
.page-content {
    padding-left: 20px;
    padding-right: 20px;
}
.page-content {
    position: relative;
    padding-top: 2rem;
}
.animate-enter, 
.animate-leave {
    -webkit-transition: 350ms cubic-bezier(0.25, .25, .75, .75) all;
    -ms-transition: 350ms cubic-bezier(0.25, .25, .75, .75) all;
    transition: 350ms cubic-bezier(0.25, .25, .75, .75) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.animate-leave.animate-leave-active, 
.animate-enter {
    opacity: 0;
    width: 0;
    height: 0;
}
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}


/* ========= Request listing page ========== */

/* --- Search --- */
.list-searchbox.ng-scope { 
	background: #fafafa; 
	margin-bottom: 2rem; 
	padding: 2rem 0px;
}
.list-searchbox .list-searchbox-search input {
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, .2);
    display: block;
    padding: 10px 20px 10px 38px;
    background: #f2f4f5 none 18px 50% no-repeat;
    border: 3px solid #fff;
    width: 80%;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    font-family: OpenSansBold, sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-size: 1.5rem;
    float: left;
}
.list-searchbox .list-searchbox-search {
    width: 100%;
}
.list-searchbox button {
    padding: 10px 16px;
    margin: 3px 5px;
}

/* --- Filter --- */

.filter-course-type {
    float: left;
}
.filter-course-type input {
    margin-right: .1rem;
    margin-top: 0;
}
.filter-course-type span {
    color: #333;
    text-shadow: none;
    padding: .2rem;
    margin-top: .2rem;
}
.filter-course-type ul {
    list-style-type: none;
}
.main .filter-course-type ul li {
    padding-bottom: .5rem;
    float: left;
    margin-top: .5rem;
	background-image: none; 
	padding-left: 0px; 
	margin-right: 4.5rem;
}
.main .filter-course-type ul li.content {
	padding-right: 0px;
}


/* --- Request lists --- */

.list-results {
    width: 75%;
    float: left;
}
.list-group {
    border-bottom: 1px #dae9ef solid;
    width: 100%;
}
.list-group.row.feedback { 
	padding: 0px; 
}
.list-group, 
.list-description, 
.list-results, 
.list-item {
    float: left;
    display: inline;
}
.list-item {
    margin-bottom: .5rem;
}
#main-content a.list-item { 
	padding-left: 0px; 
	padding-right: 0px;
	border-bottom: none;
}
.list-description {
    width: 23%;
    margin-right: 2%;
}
.list-fresh {
    overflow: hidden;
    margin-bottom: .5rem;
    margin-top: .3rem;
}
.list-item-copy {
    padding: 1.5rem;
}
.inner {
    background-color: #F0F2EB;
    margin-right: .5rem;
    min-height: 100px;
    overflow: hidden;
    color: #666;
}
.inner:hover {
    background-color: #E0E2DC;
}
.list-fresh a {
    text-decoration: none;
}

.access .inner {
    background-color: #E4FFBE;
}
.access .inner:hover {
    background-color: #B4E189;
}
.feedback .inner {
    background-color: #F3DEC4;
}
.feedback .inner:hover {
    background-color: #F4C6A4;
}
.training .inner {
    background-color: #DCE8EB;
}
.training .inner:hover {
    background-color: #CBDBE0;
}
.management .inner {
    background-color: #FFF9D7;
}
.management .inner:hover {
    background-color: #F7EBBF;
}



/* ========= Form elements ========== */
.form-container {
    padding: 1.5rem 2rem 2rem 3rem;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    border: 1px #ddd solid;
    position: relative;
    margin-top: 20px;
    margin-bottom: 2em;
    z-index: 2;
}
.backbutton {
	margin-bottom: 2rem;
}
#form_content .ng-invalid  {
    border-color:  rgb(233,  50,  45);
}
legend.ng-scope { 
	padding-top: 15px; 
}
textarea.field-select {
	width: 100%; 
}
.btn-submit {
    margin-top: 2rem;
}