<p class="lead">The Online Services team can help with a range of web and web technology issues. And if we can't help, we'll try to get you in touch with the right people. Select a category from the options below to ask us for help.</p>
<p class="lead">Or visit the <a href="https://webhelp.staff.unimelb.edu.au/hc/en-gb">Web Forum and Knowledge Base</a> to try to find the answer yourself.</p>
<hr class="visible">
<div class="list-searchbox">
	<div class="filter-course-type col-md-offset-3 col-md-9 col-sm-12">
		<h4>Filter by topic</h4>
		<ul>
			<li class="accessibility">
				<label>
					<input name="accessibility" data-ng-model="refine.accessibility" type="checkbox">
					Accessibility
				</label>
			</li>
			<li class="analytics">
				<label>
					<input name="analytics" data-ng-model="refine.analytics" type="checkbox">
					Analytics
				</label>
			</li>
			<li class="content">
				<label>
					<input name="content" data-ng-model="refine.content" type="checkbox">
					Content
				</label>
			</li>
			<li class="design">
				<label>
					<input name="design" data-ng-model="refine.design" type="checkbox">
					Design
				</label>
			</li>
			<li class="technology">
				<label>
					<input name="technology" data-ng-model="refine.technology" type="checkbox">
					Technology
				</label>
			</li>
                        <li class="other">
				<label>
					<input name="other" data-ng-model="refine.misc" type="checkbox">
					Other
				</label>
			</li>
		</ul>
	</div> 
</div>
<div class="requests">
	<div class="list-group row {{stream.class}}" ng-repeat="stream in serviceList">
		<div class="col-md-3 col-sm-12">
			<h4>{{stream.name}}</h4>
			<p>{{stream.description}}</p>
		</div>
		<div class="col-md-9 col-sm-12">
			<div class="list-fresh">
				<div ng-animate="'animate'" ng-repeat="itsService in stream.content | filter:filterText:strict | refineFilter:refine">
					<a class="list-item list-type-{{itsService.itemType}} col-md-3 col-sm-4 col-xs-6" href="#/request/{{stream.name | urlStrip}}/{{itsService.name | urlStrip}}">
						<div class="inner">
							<div class="list-item-copy">{{itsService.name}}</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	{{check_empty()}}
	</div>
</div>