<p class="backbutton"><a class="btn btn-info" href="#/">Back to service list</a></p>	
<div class="col-md-5 col-xs-12">
	<h2>{{itsService | capitalise}}</h2>
	<div>
		<p class="lead">{{currentItem.description}}</p>
	</div>
	<div ng-repeat="(key,value) in getFaq(stream, itsService)">
		<legend>{{key}}</legend>
		<ul>
			<li ng-repeat="each in value" ng-bind-html-unsafe="each">{{each}}</li>
		</ul>
	</div>
</div>
<div class="col-md-7 col-xs-12">
	<div class="form-container">
		<form action="https://weapon.its.unimelb.edu.au/zendesk/ticket" method="post" novalidate="" id="SubmitForm" name="ticketForm">
			<legend>Your contact details</legend>
			<p><strong>Name:</strong> %globals_user_metadata_CombinedName%<br>
			<strong>Email:</strong> %globals_session_saml_attributes_mail_0%</p>
			<div ng-init="genForm(stream, itsService);ticketForm.email=user_info.email" id="form_content"></div>
			{{prefill()}}
			<div class="btn-submit">
				<input class="btn btn-large btn-block btn-info submit_btn" type="submit" name="submit_contact_form" value="Submit request" ng-disabled="!ticketForm.$valid">
			</div> 
		</form>
	</div>
</div>